{% extends 'flash/base.html' %}

{% load static %}
{% block css %}

{% endblock %}

{% block body %}

<form id="category_form" method="post" action="/add_cardset/">
  <p>{{ message }}</p>
  {% csrf_token %}
  <p>{{ form.name.errors }}</p>
  <p>{{ form.name.help_text }}</p>
  <p>{{ form.name }}</p>
  <p>Visible to:</p>
  <p>{{ form.visibleTo }}

  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="submit" name="submit" value="Create Card Set" />
</form>

{% endblock %}
