{% extends 'flash/base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'css/signin.css'%} " rel="stylesheet">
<link href="{% static 'css/questionform.css'%} " rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="form-signin">

    <form id="category_form" method="post" action="/add_question/{{ cardset_id }}/">
      <h2 class="form-signin-heading">Create new question</h2>
        <p>{{ message }}</p>
        <p>{{ questionType }}</p>

      	{% csrf_token %}
      
      <h5>Question</h5>
  		<p>{{ questionForm.question.errors }}</p>
  		<p>{{ questionForm.question.help_text }}</p>
  		<p>{{ questionForm.question }}</p>

      <h5>Choice and/or Answer</h5>
      <div class="input-group">
        <span class="input-group-addon">{{ questionForm.isAnswer1 }}</span>
          {{ questionForm.choice1 }}
      </div>
      <div class="input-group">
        <span class="input-group-addon">{{ questionForm.isAnswer2 }}</span>
          {{ questionForm.choice2 }}
      </div>
      <div class="input-group">
        <span class="input-group-addon">{{ questionForm.isAnswer3 }}</span>
          {{ questionForm.choice3 }}
      </div>
      <div class="input-group">
        <span class="input-group-addon">{{ questionForm.isAnswer4 }}</span>
          {{ questionForm.choice4 }}
      </div>
      <div class="input-group">
        <span class="input-group-addon">{{ questionForm.isAnswer5 }}</span>
          {{ questionForm.choice5 }}
      </div>

      <button class="btn btn-lg btn-primary btn-block" data-loading-text="Loading..." type="submit">Create</button>
    	<!-- <input type="submit" name="submit" value="Create Question" /> -->
    </form>
    </div>
  </div> <!-- Container -->
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}