{% extends "flash/base.html" %}

{% block title %}
<p>{{ user.username }}'s Card Sets</p>
{% endblock %}

{% block body %}

<hr>

<form method="post" action="/cardset_view/{{ selectedCardSet.id }}">
	{% csrf_token %}
	<ul>
	{% for cardSet in cardSetList %}
	<li><a href="/edit_cardset/{{ cardSet.id }}">{{ cardSet.name }}</a>
		<input type="checkbox" name="delete" value="{{ cardSet.id }}"/></li>
	{% endfor %}
	</ul>
	<input type="submit" name="submit" value="Delete card set(s)" />
</form>

{% endblock %}