{% extends 'flash/base.html' %}

{% load static %}
{% block css %}
<link href="{% static 'css/signin.css'%} " rel="stylesheet">
<link href="{% static 'css/formstyle.css'%} " rel="stylesheet">
{% endblock %}

{% block body %}

<div class="container">
  <form class="form-signin" method="post" action="/edit_cardset/{{ cardSet.pk }}/" role="form">
    {% csrf_token %}
    <h2 class="form-signin-heading">Edit card set</h2>
    <p>{{ message }}</p>
    <h5>Card set name</h5>
      {{ form.name }}
    <h5>Visible to</5>
  
    <select class="form-control selectbox visibleTo" name="visibleTo">
      {% if selectedCardSet.visibleTo == "pw" %}
        <option value="pw">people with a password...</option>
        <option value="me">just me</option>
        <option value="eo">everyone</option>  
      {% elif selectedCardSet.visibleTo == "eo" %}
        <option value="eo">everyone</option>
        <option value="me">just me</option>
        <option value="pw">people with a password...</option>
      {% else %}
        <option value="me">just me</option>
        <option value="eo">everyone</option>
        <option value="pw">people with a password...</option>
      {% endif %}               
    </select>
    <h5>Password (only required for restricted use)</h5>
    <input type="text" class="form-control" name="password" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
    <button class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal">
      Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>All the questions in this card set will also be deleted.</p>
            <p>Are you sure you want to delete <b>{{ cardSet.name}}</b>?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss" data-dismiss="modal">
            Cancel</button>
            <a class="btn btn-danger" href="/delete_cardset/{{ cardSet.pk }}" role="button">
            Delete</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </form>
</div> <!--Container -->
<br><br><br><br><br><br><br><br><br><br>
{% endblock %}