{% extends 'flash/base.html' %}

{% block title %}Sign Up{% endblock %}
{% block body %}

    <div class="">
    {% if registered %}
    <p>Thank you for registering!</p>

    <p><a href="/login/">Login</a> when you are ready.</p>
    {% else %}
    <form id="user_form" method="post" action="/register/">
    	{% csrf_token %}
        <h2 class="">Sign up Here</h2>

        {% for field in user_form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text}}<br>
        {{ field }}<br>
        {% endfor %}

        {% for field in profile_form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text}}<br>
        {{ field }}<br>
        {% endfor %}

        <br>
    	<input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
    </div>

{% endblock %}